.file {
  background-color: #333333;
  color: #ffffff;
  font-size: 30px;
  font-family: Arial;
  height: 50px;
  width: 90%;
  margin: 0 auto;
  border-width: 0px 0px 5px 0px;
  border-color: #007722;
  border-style: solid;
  margin-bottom: 10px;
}

.filesize {
  float: right;
}
